<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Yo-shop 🔥 </title>
</head>
<body>
<div>
  <header class="">
 Yo-shop 🔥 
  </header>
  <aside class="">
   shopping-catagories
  </aside>
  <main class="">
    <ul class="">
      <li>product - 1</li>
      <li>product - 2</li>
      <li>product - 3</li>
      <li>product - 4</li>
      <li>product - 5</li>
    </ul>
  </main>
  <footer class="">
    copyright © reserved by yogesh mishra 
  </footer>
</div>
</body>
</html>