<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Yo-shop 🔥 </title>
</head>
<body>
<div class="grid-container">
  <header class="header">
    <div class="brand">
      <a href="index.html">Yo-shop 🔥</a>
    </div>
    <div class="brand-links">
      <a href="#" class="">cart</a>
      <a href="#" class="">signin</a>
    </div>
  </header>

  <main class="main">
<div class="content">
      <ul class="products">
        <li class='product'>
          <img src="./images/p-1.jpg" alt="slim shirt" class="product-img">
          <div class="product-name"> <a>slim shirt</a> </div>
          <div class="product-brand">nike</div>
          <div class="product-price">$60</div>
          <div class="product-rating">4.5 rating (10 review)</div>
        </li>
      </ul>
</div>
  </main>
  <footer class="footer">
    copyright © reserved by yogesh mishra 
  </footer>
</div>
</body>
</html>