html {
  font-size: 62.5%; /* default 16px * 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}

body {
font: 1.6rem helvetica;
height: 100vh;
margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem  ;
  height:100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color:#ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  
}
.brand a {
color:#ffff;
font-size: 2.5rem;
font-weight: bold;
text-decoration: none;
}

.brand-links a {
color:#ffff;
text-decoration: none;
margin-right: 5px;
}
.brand-links :hover {
  color: #f77f00;
}
.main {
  grid-area: main;
   background-color:#ffff;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color:#ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* home screen products */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.products li {
  padding: 0%;
  flex:0 1 34rem ;
  margin:1rem;
  height: 50rem;
  border-bottom:.1rem #3f3e3f solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-img{
max-width: 34rem;
max-height: 34rem;
}
.product-name{
  font-size: 2rem;
}
.product-brand{
  font-size: 1.2rem;
  color: #808080;
}
.product-price{
  font-size: 2.5rem;
  font-weight: bold;
}